@import 'tailwindcss';

@font-face {
  font-family: 'Bastliga';
  src: url('/fonts/bastliga-one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@theme {
  --font-technology: 'Technology', sans-serif;
  --font-bastliga: 'Bastliga', sans-serif;
}
